<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>FR score calculator</title>

  <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-baqh{text-align:center;vertical-align:top}
  </style>

  <!-- Quick Start: CSS -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>


  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Fibrosis Risk Score calculator</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

</head>
  
<body>
  <div class="inputs" style='margin-left: 20px; margin-top: 10px'>
    <h2>Submit your data</h2>
    <p>
      Introduce the AST, ALT, PLT score, and ultrasonography images <b>(png or jpg)</b>
      <br>
      <br>
      For stable prediction, 
      <br>
      - upload at least five images of ultrasonography images of a single patient.
      <br>
      - the range of AST, and ALT is 10~100. If the score exceeds the range, would be adjusted.
    </p>
      <!-- Inputs for our ML model -->
      <form action="{{ url_for('predict')}}" method="post" enctype="multipart/form-data">
        <input type="text" name="Age" placeholder="Age (optional)">
        <input type="text" name="AST" placeholder="AST (U/L)" required="required">
        <input type="text" name="ALT" placeholder="ALT (U/L)" required="required">
        <input type="text" name="PLT" placeholder="PLT (10^9/L)" required="required">
        <br>
        <br>
        <input type="file" name="file" accept="image/png, image/jpeg" style="width: 662px" multiple>
        <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
      </form>
      <br>
      <br>
      <h3>FR score report</h3>
      <br>
      {{ session_id }}
      <br>
      <b> {{ prediction_text }} </b>
      <br>
      {{ fib4_metric }}
      <br>
      {{ apri_metric }} 
   </div>

   <br>

   <div style='margin-left: 20px; margin-top: 10px'>
    <h3>FR score threshold based on transient elastography (TE)</h3>
    <table class="tg" table-layout="fixed" width="50%">
      <thead>
        <tr>
          <th class="tg-7zrl">TE target threshold</th>
          <th class="tg-7zrl">FR score threshold</th>
          <th class="tg-0lax">Accuracy</th>
          <th class="tg-0lax">Sensitivity</th>
          <th class="tg-0lax">Specificity</th>
          <th class="tg-0lax">PPV</th>
          <th class="tg-0lax">NPV</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tg-0lax">6</td>
          <td class="tg-cly1">6.76</td>
          <td class="tg-cly1">67.99</td>
          <td class="tg-cly1">65.62</td>
          <td class="tg-cly1">70.00</td>
          <td class="tg-cly1">65.12</td>
          <td class="tg-cly1">70.47</td>
        </tr>
        <tr>
          <td class="tg-0lax">7</td>
          <td class="tg-cly1">8.26</td>
          <td class="tg-cly1">69.06</td>
          <td class="tg-cly1">66.34</td>
          <td class="tg-cly1">70.62</td>
          <td class="tg-cly1">56.30</td>
          <td class="tg-cly1">78.62</td>
        </tr>
        <tr>
          <td class="tg-0lax">8</td>
          <td class="tg-cly1">8.76</td>
          <td class="tg-cly1">71.22</td>
          <td class="tg-cly1">71.43</td>
          <td class="tg-cly1">71.13</td>
          <td class="tg-cly1">51.72</td>
          <td class="tg-cly1">85.19</td>
        </tr>
        <tr>
          <td class="tg-0lax">9</td>
          <td class="tg-cly1">8.76</td>
          <td class="tg-cly1">71.94</td>
          <td class="tg-cly1">76.39</td>
          <td class="tg-cly1">70.39</td>
          <td class="tg-cly1">47.41</td>
          <td class="tg-cly1">89.51</td>
        </tr>
        <tr>
          <td class="tg-0lax">10</td>
          <td class="tg-cly1">12.26</td>
          <td class="tg-cly1">75.90</td>
          <td class="tg-cly1">79.03</td>
          <td class="tg-cly1">75.00</td>
          <td class="tg-cly1">47.57</td>
          <td class="tg-cly1">92.57</td>
        </tr>
        <tr>
          <td class="tg-0lax">11</td>
          <td class="tg-cly1">14.26</td>
          <td class="tg-cly1">76.26</td>
          <td class="tg-cly1">80.39</td>
          <td class="tg-cly1">75.33</td>
          <td class="tg-cly1">42.27</td>
          <td class="tg-cly1">94.48</td>
        </tr>
        <tr>
          <td class="tg-0lax">12</td>
          <td class="tg-cly1">14.26</td>
          <td class="tg-cly1">76.98</td>
          <td class="tg-cly1">88.37</td>
          <td class="tg-cly1">74.89</td>
          <td class="tg-cly1">39.18</td>
          <td class="tg-cly1">97.24</td>
        </tr>
        <tr>
          <td class="tg-0lax">13</td>
          <td class="tg-cly1">14.26</td>
          <td class="tg-cly1">75.9</td>
          <td class="tg-cly1">89.47</td>
          <td class="tg-cly1">73.75</td>
          <td class="tg-cly1">35.05</td>
          <td class="tg-cly1">97.79</td>
        </tr>
        <tr>
          <td class="tg-0lax">14</td>
          <td class="tg-cly1">14.26</td>
          <td class="tg-cly1">75.9</td>
          <td class="tg-cly1">89.47</td>
          <td class="tg-cly1">73.75</td>
          <td class="tg-cly1">35.05</td>
          <td class="tg-cly1">97.79</td>
        </tr>
        <tr>
          <td class="tg-0lax">15</td>
          <td class="tg-cly1">14.26</td>
          <td class="tg-cly1">74.82</td>
          <td class="tg-cly1">93.55</td>
          <td class="tg-cly1">72.47</td>
          <td class="tg-cly1">29.90</td>
          <td class="tg-cly1">98.90</td>
        </tr>
        <tr>
          <td class="tg-0lax">16</td>
          <td class="tg-cly1">14.26</td>
          <td class="tg-cly1">74.82</td>
          <td class="tg-cly1">93.55</td>
          <td class="tg-cly1">72.47</td>
          <td class="tg-cly1">29.90</td>
          <td class="tg-cly1">98.90</td>
        </tr>
        <tr>
          <td class="tg-0lax">17</td>
          <td class="tg-cly1">14.26</td>
          <td class="tg-cly1">74.46</td>
          <td class="tg-cly1">93.33</td>
          <td class="tg-cly1">72.18</td>
          <td class="tg-cly1">28.87</td>
          <td class="tg-cly1">98.90</td>
        </tr>
        <tr>
          <td class="tg-0lax">18</td>
          <td class="tg-cly1">14.26</td>
          <td class="tg-cly1">73.74</td>
          <td class="tg-cly1">96.15</td>
          <td class="tg-cly1">71.43</td>
          <td class="tg-cly1">25.77</td>
          <td class="tg-cly1">99.45</td>
        </tr>
        <tr>
          <td class="tg-0lax">19</td>
          <td class="tg-cly1">19.76</td>
          <td class="tg-cly1">81.29</td>
          <td class="tg-cly1">95.83</td>
          <td class="tg-cly1">79.92</td>
          <td class="tg-cly1">31.08</td>
          <td class="tg-cly1">99.51</td>
        </tr>
        <tr>
          <td class="tg-0lax">20</td>
          <td class="tg-cly1">19.76</td>
          <td class="tg-cly1">80.58</td>
          <td class="tg-cly1">95.45</td>
          <td class="tg-cly1">79.30</td>
          <td class="tg-cly1">28.38</td>
          <td class="tg-cly1">99.51</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <br>

  <div style='margin-left: 20px; margin-top: 10px'>
    <table class="tg" table-layout="fixed" width="50%">
      <h3>FR score threshold based on magnetic resonance elastography (MRE)</h3>
      <thead>
        <tr>
          <th class="tg-7zrl">MRE target threshold</th>
          <th class="tg-7zrl">FR score threshold</th>
          <th class="tg-0lax">Accuracy</th>
          <th class="tg-0lax">Sensitivity</th>
          <th class="tg-0lax">Specificity</th>
          <th class="tg-0lax">PPV</th>
          <th class="tg-0lax">NPV</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tg-0lax">2.0</td>
          <td class="tg-cly1">1.26</td>
          <td class="tg-cly1">65.17</td>
          <td class="tg-cly1">63.75</td>
          <td class="tg-cly1">70.39</td>
          <td class="tg-cly1">88.81</td>
          <td class="tg-cly1">34.52</td>
        </tr>
        <tr>
          <td class="tg-0lax">2.5</td>
          <td class="tg-cly1">6.26</td>
          <td class="tg-cly1">69.66</td>
          <td class="tg-cly1">67.91</td>
          <td class="tg-cly1">71.60</td>
          <td class="tg-cly1">72.57</td>
          <td class="tg-cly1">66.85</td>
        </tr>
        <tr>
          <td class="tg-0lax">3.0</td>
          <td class="tg-cly1">9.26</td>
          <td class="tg-cly1">73.03</td>
          <td class="tg-cly1">76.52</td>
          <td class="tg-cly1">71.18</td>
          <td class="tg-cly1">58.51</td>
          <td class="tg-cly1">85.09</td>
        </tr>
        <tr>
          <td class="tg-0lax">3.5</td>
          <td class="tg-cly1">11.26</td>
          <td class="tg-cly1">73.17</td>
          <td class="tg-cly1">81.67</td>
          <td class="tg-cly1">70.30</td>
          <td class="tg-cly1">48.20</td>
          <td class="tg-cly1">91.89</td>
        </tr>
        <tr>
          <td class="tg-0lax">4.0</td>
          <td class="tg-cly1">13.26</td>
          <td class="tg-cly1">73.60</td>
          <td class="tg-cly1">82.98</td>
          <td class="tg-cly1">71.28</td>
          <td class="tg-cly1">41.64</td>
          <td class="tg-cly1">94.43</td>
        </tr>
        <tr>
          <td class="tg-0lax">4.5</td>
          <td class="tg-cly1">14.76</td>
          <td class="tg-cly1">73.46</td>
          <td class="tg-cly1">86.73</td>
          <td class="tg-cly1">70.95</td>
          <td class="tg-cly1">36.03</td>
          <td class="tg-cly1">96.59</td>
        </tr>
        <tr>
          <td class="tg-0lax">5.0</td>
          <td class="tg-cly1">15.26</td>
          <td class="tg-cly1">72.47</td>
          <td class="tg-cly1">90.59</td>
          <td class="tg-cly1">70.02</td>
          <td class="tg-cly1">29.06</td>
          <td class="tg-cly1">98.21</td>
        </tr>
        <tr>
          <td class="tg-0lax">5.5</td>
          <td class="tg-cly1">21.76</td>
          <td class="tg-cly1">75.00</td>
          <td class="tg-cly1">84.75</td>
          <td class="tg-cly1">74.12</td>
          <td class="tg-cly1">22.83</td>
          <td class="tg-cly1">98.17</td>
        </tr>
        <tr>
          <td class="tg-0lax">6.0</td>
          <td class="tg-cly1">21.76</td>
          <td class="tg-cly1">74.44</td>
          <td class="tg-cly1">89.36</td>
          <td class="tg-cly1">73.38</td>
          <td class="tg-cly1">19.18</td>
          <td class="tg-cly1">98.99</td>
        </tr>
        <tr>
          <td class="tg-0lax">6.5</td>
          <td class="tg-cly1">22.76</td>
          <td class="tg-cly1">74.86</td>
          <td class="tg-cly1">92.11</td>
          <td class="tg-cly1">73.89</td>
          <td class="tg-cly1">16.59</td>
          <td class="tg-cly1">99.40</td>
        </tr>
      </tbody>
      </table>
    </div>
</body>
</html>